# Environment
alias cds="cd ~/src"
alias ipython="nocorrect ipython"

# Source control
alias gs="git status"
alias mkphg="hg diff > ~/src/patch.diff" # Make patch from hg diff
alias ap="patch -p1 < ~/src/patch.diff"  # Apply patch
alias p2h="git push heroku master"

# tunnel
alias proxy="ssh -f -N proxy"
alias imatwork="proxy; scselect Work"
alias imathome="scselect Automatic; ps aux | grep proxy"
alias iminpublic="proxy; scselect Public\ Wi-Fi"

# vim instant markdown
alias instantMD="node /usr/local/share/npm/bin/instant-markdown-d"

# zenircbot
alias zenbot="redis-server /usr/local/etc/redis.conf & cd ~/src/zenircbot; node bot.js"

alias please="sudo"
